html {
  font-family: sans-serif;
  min-height: 100%;
}

html body {
  margin: 0;
  height: 100vh;
  background-color: #eee;
}

h1 {
  font-family: serif;
  color: #377ba8;
  margin: 1rem 0;
}

a {
  color: #377ba8;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

p {
  margin: 0;
}

nav {
  background: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  flex: auto;
  margin: 0;
  font-size: 5em;
  color: #26a34a;
  font-family: 'Emblema One', sans-serif;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 3px;
}

nav ul li {
  margin: 0 5px;
}

nav .title {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

nav .green-span {
  background-color: #26a34a;
  width: 100%;
  top: 4.3em;
  height: 30px;
  position: absolute;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page-header, .page-footer {
  flex-shrink: 0;
}

.page-footer {
  min-height: 5em;
  background-color: #666;
  margin: 0;
  padding: 0;
}

.content {
  padding: 0 1rem 1rem;
  flex-grow: 1;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex; align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.comment {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
}

.comment p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1em;
}

.comment hr {
  margin: 0
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=text], input[type=password] {
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  min-width: 10em;
}

body .btn-primary {
  background-color: #26a34a;
  border-color: #26a34a;
}

body .btn-primary:hover {
  background-color: #16933a;
  border-color: #23a047
}

body .btn-primary:focus {
  background-color: #16933a;
  border-color: #23a047
  box-shadow: 0 0 0 0.25rem rgb(49 253 77 / 50%);
}

body .btn-primary:active {
  background-color: #16933a;
  border-color: #23a047
}

.share-link {
  overflow-wrap: break-word;
  border: 1px solid black;
  box-shadow: 0 0 0 0.1rem rgb(50 50 50 / 20%);
  border-radius: 5px;
}

.photos, .albums {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  margin-top: 1em;
}

.photo, .album {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.photo-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
