{% extends 'base.html' %}

{% block header %}
 <h1>{% block title %}Add Album{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form class="" action="/addAlbum" method="post">
    <label for="albumtitle">Album Title</label>
    <input type="text" name="albumtitle" id="albumtitle" required>
    <label for="albumsharepassword">Album Share Password</label>
    <input type="password" name="albumsharepassword" id="albumsharepassword" required>
    <button class="btn btn-primary" type="submit">Create Album</button>
  </form>
{% endblock %}
