{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Add Photo{% endblock %}</h1>
{% endblock %}

{% block content %}
<form class="" action="{{ action }}" method="post" enctype="multipart/form-data">
  <input name="album" value="{{ album }}" type="hidden">
  <label for="photo">Add Photo</label>
  <input type="file" name="photo" accept="image/jpg, image/jpeg, image/gif, image/x-png" required>
  <label for="photoname">Photo Title</label>
  <input type="text" name="photoname" id="photoname" required>
  <button class="btn btn-primary" type="submit">Upload Photo</button>
</form>
{% endblock %}