{% extends 'base.html' %}

{% block header %}
 <h1>{% block title %}Album{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h1>{{album_title}}</h1>
  <p>Created by: {{created_by}}</p>
  <p>Created on: {{created_on}}</p>
  {% if user == created_id %}
    <a class="btn btn-primary" href="{{ url_for('editAlbum', album = album_id) }}">Edit Album</a>
    <a class="btn btn-primary" href="{{ url_for('shareAlbumForm', album = album_id) }}">Share Album</a>
    <a class="btn btn-primary" href="{{ url_for('deleteAlbum', album = album_id) }}">Delete Album</a>
    <a class="btn btn-primary" href="{{ url_for('addPhoto', album = album_id) }}">Add Photo</a>
  {% endif %}
  <section class="photos">
    {% for photo in album_photos %}
      <section class="photo">
        <img src="{{ url_for('static',filename = '/images/' + photo['location']) }}" alt="{{photo['title']}}">
        <p>{{photo['title']}}</p>
        {% if user == created_id %}
          <section class="photo-buttons">
            <a class="btn btn-primary" href="{{ url_for('sharePhotoForm', photo = photo['id']) }}">Share Photo</a>
            <a class="btn btn-primary" href="{{ url_for('editPhoto', album = album_id, photo = photo['id']) }}">Edit Photo</a>
            <a class="btn btn-primary" href="{{ url_for('deletePhoto', photo = photo['id']) }}">Delete Photo</a>
          </section>
        {% endif %}
      </section>
    {% endfor %}
  </section>
  {% for comment in comments %}
    <section class="comment">
      <p>{{ comment["comment"] }}</p>
      <hr />
      <p>{{ comment["username"] }}</p>
    </section>
  {% endfor %}
  {% if user != None %}
    <form class="" action="/addComment" method="post">
      <input name="album" value="{{ album_id }}" type="hidden">
      <label for="comment">Comment</label>
      <input type="text" name="comment" id="comment" required>
      <button class="btn btn-primary" type="submit">Submit Comment</button>
    </form>
  {% endif %}
{% endblock %}
