{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Edit Album{% endblock %}</h1>
{% endblock %}

{% block content %}
<form class="" action="{{ action }}" method="post">
  <label for="albumtitle">Edit Album Title</label>
  <input type="text" name="albumtitle" id="albumtitle">
  <label for="albumtitle">Edit Album Password</label>
  <input type="password" name="albumpassword" id="albumpassword">
  <button class="btn btn-primary" type="submit">Edit Album</button>
</form>

<a class="btn btn-danger" href="{{ url_for('deleteAlbum', album = album_id) }}">Do you want to delete the album instead?</a>
{% endblock %}